# Logs
log
logs
*.log
access.log

# Debug
__debug_bin

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS generated #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea
.vscode
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.svd
*.userprefs
*.csproj
*.pidb
*.user
*.unityproj
*.booproj
ExportedObj/
*.xcuserstate

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/